div.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
div.exchangeRow{
  float: left;
  margin-right: 12%;
}
ol, ul {
  padding-left: 30px;
}
div.resp-header{
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
span.exchanges{
  display:inline; 
  margin: 15%;
}
div.resp-table{
  width: 50%;
  display: table;
}
div.resp-table-header{
  display: table-header-group;
  background-color: gray;
  font-weight: bold;
  font-size: 25px;
}
div.table-header-cells{
  display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}
div.resp-table-body{
  display: table-row-group;
}

